    {{! Footer }}
    <footer>
        <div class="row">
            <div class="columns large-6">
                &copy; {{date format="YYYY"}} <a href="http://gtaaus.com" title="GTAAUS" target="_blank"><span class="GTAAUS">GTAAUS</span></a>
            </div>
            <div class="columns large-6 right">
                Proudly Powered By <a title="NUEGEN" href="https://nuegen.com" target="_blank">NueGen</a>
            </div>
        </div>
    </footer>
